/* Coolors Exported Palette - https://coolors.co/191818-010733-0094c6-c1dff0-f5b700-8ea604-0b6e4f-aa0000 */

/* HSL */
$color1: hsla(0%, 4%, 10%, 1);
$color2: hsla(233%, 98%, 20%, 1);
$color3: hsla(195%, 100%, 78%, 1);
$color4: hsla(202%, 20%, 94%, 1);
$color5: hsla(45%, 100%, 96%, 1);
$color6: hsla(69%, 98%, 65%, 1);
$color7: hsla(161%, 90%, 43%, 1);
$color8: hsla(0%, 100%, 67%, 1);

/* RGB */
$color1: rgba(25, 24, 24, 1);
$color2: rgba(1, 7, 51, 1);
$color3: rgba(0, 148, 198, 1);
$color4: rgba(193, 223, 240, 1);
$color5: rgba(245, 183, 0, 1);
$color6: rgba(142, 166, 4, 1);
$color7: rgba(11, 110, 79, 1);
$color8: rgba(170, 0, 0, 1);

/* HEX */
$color1: #191818ff;
$color2: #010733ff;
$color3: #0094c6ff;
$color4: #c1dff0ff;
$color5: #f5b700ff;
$color6: #8ea604ff;
$color7: #0b6e4fff;
$color8: #aa0000ff;

/* GRADIENT */
$gradient-top: linear-gradient(0deg, #191818ff, #010733ff, #0094c6ff, #c1dff0ff, #f5b700ff, #8ea604ff, #0b6e4fff, #aa0000ff);
$gradient-right: linear-gradient(90deg, #191818ff, #010733ff, #0094c6ff, #c1dff0ff, #f5b700ff, #8ea604ff, #0b6e4fff, #aa0000ff);
$gradient-bottom: linear-gradient(180deg, #191818ff, #010733ff, #0094c6ff, #c1dff0ff, #f5b700ff, #8ea604ff, #0b6e4fff, #aa0000ff);
$gradient-left: linear-gradient(270deg, #191818ff, #010733ff, #0094c6ff, #c1dff0ff, #f5b700ff, #8ea604ff, #0b6e4fff, #aa0000ff);
$gradient-top-right: linear-gradient(45deg, #191818ff, #010733ff, #0094c6ff, #c1dff0ff, #f5b700ff, #8ea604ff, #0b6e4fff, #aa0000ff);
$gradient-bottom-right: linear-gradient(135deg, #191818ff, #010733ff, #0094c6ff, #c1dff0ff, #f5b700ff, #8ea604ff, #0b6e4fff, #aa0000ff);
$gradient-top-left: linear-gradient(225deg, #191818ff, #010733ff, #0094c6ff, #c1dff0ff, #f5b700ff, #8ea604ff, #0b6e4fff, #aa0000ff);
$gradient-bottom-left: linear-gradient(315deg, #191818ff, #010733ff, #0094c6ff, #c1dff0ff, #f5b700ff, #8ea604ff, #0b6e4fff, #aa0000ff);
$gradient-radial: radial-gradient(#191818ff, #010733ff, #0094c6ff, #c1dff0ff, #f5b700ff, #8ea604ff, #0b6e4fff, #aa0000ff);