:root{
  --c1: #191818ff;
  --c2: #010733ff;
  --c3: #0094c6ff;
  --c4: #c1dff0ff;
  --c5: #f5b700ff;
  --c6: #8ea604ff;
  --c7: #0b6e4fff;
  --c8: #aa0000;

  --cb: #ffffff;
  --cn: #000000;

  --cv: #38c500;
  --cr: #ff0000;
}
/*-------------------------------------------------------------*/


body{
  background-image: url(/img/fondo/fondo-4.png);
}


.contenedor{
  width: 100%;
  height: auto;
  margin: 4vh 0;
  background-color: var(--c6);
}


.subtitulo{
  font-size: 2rem;
}


.redes-sociales{
  width: 100%;
  height: auto;
  justify-content: center;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
}

.social{
  width: 200px;
  height: 200px;
  margin: 1rem 2rem;
  border-radius: 50%;
  background-color: var(--cb);
}

.social-img{
  width: 80%;
  height: auto;
  margin: 1.2rem auto;
  padding: 1rem;
}