/*COLORES-PRE-DEFINIDOS*/
:root{
    --c1: #191818ff;
    --c2: #010733ff;
    --c3: #0094c6ff;
    --c4: #c1dff0ff;
    --c5: #f5b700ff;
    --c6: #8ea604ff;
    --c7: #0b6e4fff;
    --c8: #aa0000;

    --cb: #ffffff;
    --cn: #000000;

    --cv: #38c500;
    --cr: #ff0000;
    }
/*-------------------------------------------------------------*/


.contenedor{
    width: 100%;
    height: auto;
    background-image: url(/img/fondo/fondo-4.png);
    background-size: cover;
}
.contenedor a{
    padding: 2rem;
}
.ani-todos{
    width: 100%;
    height: 10rem;
    border-radius: 4px;
    background-size: 105%;
    background-position: 40% 0%;
    background-image: url(/img/disponible/todos-los-ejemplares.png);
}
.lagartos{
    width: 100%;
    height: 10rem;
    border-radius: 4px;
    background-size: cover;
    background-image: url(/img/disponible/lagartos.png);
}
.serpientes{
    width: 100%;
    height: 10rem;
    background-size: cover;
    background-image: url(/img/disponible/serpientes.png);
}
.tortugas{
    width: 100%;
    height: 10rem;
    border-radius: 4px;
    background-size: cover;
    background-position: right;
    background-image: url(/img/disponible/tortugas.png);
}
.contenedor h2{
    text-align: center;
    padding: 1rem;
    font-size: 3rem;
}

@media screen and (min-width: 800px) {
    .contenedor h2{
        text-align: left;
    }
    .lagartos{
        background-size: auto;
        background-position: 30% 50%;
    }
    .serpientes{
        background-size: auto;
        background-position: 30% 30%;
    }
    .tortugas{
        background-size: cover;
    }
    .ani-todos{
        background-size: auto;
        background-position: 0% 20%;
    }
}
