body{
  background-color: brown;
}
/* .parallax{
  position: absolute;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-image: url(/img/fondo/fondo-1.png);
} */

/*----INICIO-BANNER----*/
.inicio/*grid*/{
  width: 100%;
  height: auto;
  padding: 2rem;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-image: url(/img/fondo/fondo-1.png);
} 


/*----DISEÑO-RESPONSIVE-((MOVIL))----*/
@media screen and (max-width: 800px) {
  .inicio{
    grid-template-columns: auto;
  }
  .logo-imagen{
    width: 100%;
  }
  .logo-letra{
    width: 100%;
  }

  .contacto{
    grid-template-columns: auto;
  }



  /*----CATEGORIAS----*/
  .categoria{
    width: 70%;
  }



  /*----BLOG-DESTACADOS----*/
  .blog-dest{
    grid-template-columns: auto;
    column-gap: 1rem;
    row-gap: 1rem;
  }
  .blog{
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .blog-img{
    width: 100%;
    height: 25vh;
    margin: auto;
    background-position: 20% 40%;
    background-size: 200%;
  }

  .cuidado{
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .cuidado-img{
    width: 100%;
    height: 25vh;
  }



  /*----XQ-NOSOTROS----*/
  .intro{
    grid-template-columns: auto;
  }
}

