/*-----LOGO-CONTENEDOR-----*/
.logo_contenedor{
  justify-content: center;
  flex-wrap: wrap;
  background-image: url(/img/fondo/fondo-4.png);
  background-size: cover;
}
.logo_img{
  width: 100%;
  height: 200%;
}
.logo_titulo{
  width: 80%;
  height: auto;
  text-align: center;
}
.facebook{
  width: 50%;
  margin-left: 20%;
}

/*-----SECCION-YOUTUBE-----*/
.youtube-contenedor{
  width: 100%;
  height: auto;
  color: var(--colorb);
  text-align: center;
  background-color: var(--color1);
}
iframe{
  width: 70%;
  height: 50%;
  margin: 20% auto;
}


/*-----UNICO-X-XAMAN-----*/
.unico-xaman{
  color: var(--colorb);
  width: 100%;
  height: auto;
  margin: auto;
  padding: 2.4rem 2rem;
  text-align: center;
  justify-content: center;
  background-image: url(/img/fondo/fondo-1.png);
  background-size: cover;
}
.unico-xaman h3{
  margin: 2.4rem 0;
  font-size: 2.4rem;
}
.unico-xaman p{
  margin: 1.4rem 0;
  font-size: 1.4rem;
}

/*-----SECCION-NOSOTROS-----*/
.nosotros{
  color: var(--colorb);
  width: 100%;
  height: auto;
  padding: 2rem;
  text-align: center;
  background-color: var(--color1);
}
.nosotros-contenedor{
  padding: 5rem 0.5rem;
  border: 5px solid var(--color3);
  border-radius: 4px;
}



@media(min-width: 800px){
  /*-----LOGO-CONTENEDOR-----*/
  .logo_contenedor{
    justify-content: space-around;
  }
  .logo_img{
    width: 30%;
    height: 60%;
  }
  .logo_titulo{
    width: 40%;
    height: auto;
  }
  .facebook{
    width: 50%;
    margin-left: 0;
  }


  .facebook{
    width: 100%;
  }
  .parte1{
    width: 40%;
  }
  .parte2{
    width: 60%;
  }

  /*-----SECCION-YOUTUBE-----*/
  .youtube-contenedor{
    width: 100%;
    height: 100%;
    padding: 2rem;
    color: var(--colorb);
    text-align: center;
    background-color: var(--color1);
  }
  iframe{
    height: 85%;
    margin: 0% auto;
  }
  .unico-xaman{
    color: var(--colorb);
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 2.4rem 2rem;
    text-align: center;
    justify-content: center;
  }
  .unico-xaman h3{
    margin: 2.4rem 0;
    font-size: 2.4rem;
  }
  .unico-xaman p{
    margin: 1.4rem 0;
    font-size: 1.4rem;
  }


  .nosotros-contenedor{
    padding: 5rem 3rem;
  }

}