:root{
    --c1: #191818ff;
    --c2: #010733ff;
    --c3: #0094c6ff;
    --c4: #c1dff0ff;
    --c5: #f5b700ff;
    --c6: #8ea604ff;
    --c7: #0b6e4fff;
    --c8: #aa0000;
  
    --cb: #ffffff;
    --cn: #000000;
  
    --cv: #38c500;
    --cr: #ff0000;
  }
  /*-------------------------------------------------------------*/


body{
    background-image: url(/img/fondo/fondo-2.png);
    background-size: cover;
}


.contenedor{
    width: 80%;
    height: auto;
    margin: 6% auto;
    text-align: center;
    background-color: var(--c2);
}

.animal{
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 300px;
    object-position: center;
    border: 0.2rem solid var(--c5);
    border-radius: 0.4rem;
}
.nombre{
    font-size: 2.5rem;
    text-transform: uppercase;
}
.sub-info{
    font-size: 1.5rem;
}

.compra{
    background-color: var(--c6);
}



@media screen and (min-width: 800px){
    .contenedor{
        display: flex;
        justify-content: space-around;
    }
    .animal{
        width: 100%;
        height: 100%;
        max-width: 600px;
        max-height: 600px;
    }
    .animal-info{
        display: block;
    }
}