/*COLORES-PRE-DEFINIDOS*/
:root{
    --c1: #191818ff;
    --c2: #010733ff;
    --c3: #0094c6ff;
    --c4: #c1dff0ff;
    --c5: #f5b700ff;
    --c6: #8ea604ff;
    --c7: #0b6e4fff;
    --c8: #aa0000;

    --cb: #ffffff;
    --cn: #000000;

    --cv: #38c500;
    --cr: #ff0000;
}
  /*-------------------------------------------------------------*/  


nav{
    display: none;
}
body{
    background-image: url(/img/fondo/fondo-1.png);
    background-size: cover;
}
footer{
    display: none;
}

h2{
    font-size: 3rem;
    font-weight: bolder;
}
.contenedor{
    width: 50%;
    height: 50%;
    margin: 25vh 25vw;
    padding: 1rem;
    text-align: center;
    background-image: linear-gradient(45deg, var(--c7), var(--c5));
}
input{
    margin: 1rem 0;
    padding: 0.5rem;
    font-size: 1.2rem;
}
button{
    color: black;
    margin: 1rem 0;
    background-color: var(--cv);
}