/*COLORES-PRE-DEFINIDOS*/
:root{
  --c1: #191818ff;
  --c2: #010733ff;
  --c3: #0094c6ff;
  --c4: #c1dff0ff;
  --c5: #f5b700ff;
  --c6: #8ea604ff;
  --c7: #0b6e4fff;
  --c8: #aa0000;

  --cb: #ffffff;
  --cn: #000000;

  --cv: #38c500;
  --cr: #ff0000;
}
/*-------------------------------------------------------------*/  


body{
  background-image: url(/img/fondo/fondo-4.png);
}

.contenedor{
  width: 100%;
  height: auto;
  padding: 4rem 1rem;
}

.carta{
  width: 100%;
  height: auto;
  margin: auto;
  padding: 1rem;
  text-align: center;
  background-color: var(--c2);
}

h2{
  font-size: 3rem;
}
.preventa-img{
  width: 100%;
  height: auto;
  border: 0.4rem solid var(--color2);
  border-radius: 4px;
}

.preventa-info{
  width: 100%;
  height: auto;
}
.preventa-precio p{
  font-size: 2.4rem;
  display: inline-block;
}
.precio-signo{
  width: 1.4rem;
}

.apartar{
  background-color: var(--c5);
}

@media screen and (min-width: 800px){
  .carta{
    width: 80%;
  }
  .contenido{
    display: flex;
    justify-content: space-around;
  }
  .preventa-img{
    width: 50%;
    height: auto;
  }
  .preventa-info{
    width: 30%;
    margin: 2% 0;
    padding: 0 1rem;
  }
}
