extends layout
block append config

  -paginaActual = "Contactanos"
  block append
    link(rel="stylesheet", href="/styles/contactanos.css")

block main

  br
  br
  div.-padding.contenedor
    div.subtitulo CONTACTANOS
    br
    br
    div.redes-sociales

      div FACEBOOK
        div.social
          a(href="https://www.facebook.com/humbertosalomon.garcianunez?epa=SEARCH_BOX", target="_blank")
            img.social-img(src="/icon/facebook.png", alt="")
        br

      div INSTAGRAM
        div.social
          a(href="https://www.instagram.com/unicoreptiles/?hl=es-la", target="_blank")
            img.social-img(src="/icon/instagram.png", alt="")
        br

      div YOUTUBE
        div.social
          a(href="https://www.youtube.com/channel/UCT0bZd63uFuJTVsRg9YpwZg/featured", target="_blank")
            img.social-img(src="/icon/youtube.png", alt="")
        br
    br