extends ../views/layout
block append config

  -paginaActual = "subir"
  block append
    link(rel="stylesheet", href="/styles/disponible.css")

block main

  div.subtitulo DISPONIBLES
  div.contenedor

    a(href="/todos_ejemplares")
      div.animal TODOS NUESTROS EJEMPLARES

    br
    br

    a(href="/lagartos")
      div.animal LAGARTOS

    div.contenedor-animales

      a.-borde.animales(href="/pogonas")
        div POGONAS
          img(src="img/disponible/lagartos/pogonas.png", alt="unico reptiles")
      
      //a.-borde.animales(href="") 
        div GECKOS
          img(src="img/disponible/lagartos/geckos.png", alt="unico reptiles")

      //a.-borde.animales(href="") 
        div CAMALEONES
          img(src="img/disponible/lagartos/camaleones.png", alt="unico reptiles")

      //a.-borde.animales(href="") 
        div VARANOS
          img(src="img/disponible/lagartos/varanos.png", alt="unico reptiles")

    br
    br
    a(href="/serpientes")
      div.animal SERPIENTES

    div.contenedor-animales

      a.-borde.animales(href="/serpientes/pitones")
        div PITONES
          img(src="img/disponible/serpientes/pitones.png", alt="unico reptiles")
      
      a.-borde.animales(href="/serpientes/boas") 
        div BOAS
          img(src="img/disponible/serpientes/boas.png", alt="unico reptiles")

      //a.-borde.animales(href="/serpientes/colubridos") 
        div COLÚBRIDOS
          img(src="img/disponible/serpientes/colubridos.jpg", alt="unico reptiles")

    br
    br

    //a(href="/tortugas")
      div.animal TORTUGAS

    //div.contenedor-animales

      a.-borde.animales(href="")
        div TORTUGAS
          img(src="img/disponible/tortugas/tortugas.png", alt="unico reptiles")
