extends layout
block append config

  -paginaActual = "serpientes"
  block append
    link(rel="stylesheet", href="/styles/animales.css")

block main

  br
  br
  div.contenedor
    for serpiente in animales
      a.-borde.carta(href="/animal-info/"+serpiente.id)
        div
          img.animal-img(src=serpiente.path, alt=serpiente.nombre)
          br
          br
          div.info
            p=serpiente.nombre
            p=serpiente.fases
        div.-borde.opacidad
          p.-boton VER MAS


    ////--NO-DISPONIBLES

    div.-borde.carta
      div
        img.-borde.animal-img(src="/img/no-disponible/serpientes/boa/bc-motley.png", alt="")
        br
        br
        div.info
          p PITON BOLA
          p BLADE, CLOWN
      div.-borde.opacidad
        p.-boton.alerta FUERA DE STOCK

    div.-borde.carta
      div
        img.-borde.animal-img(src="/img/no-disponible/serpientes/boa/bc-albino-khal.png", alt="")
        br
        br
        div.info
          p PITON BOLA
          p CANDINO, ALBINO
      div.-borde.opacidad
        p.-boton.alerta FUERA DE STOCK


    //PITONES

    div.-borde.carta
      div
        img.-borde.animal-img(src="/img/no-disponible/serpientes/piton/pb-blade-clown.png", alt="")
        br
        br
        div.info
          p PITON BOLA
          p BLADE, CLOWN
      div.-borde.opacidad
        p.-boton.alerta FUERA DE STOCK

    div.-borde.carta
      div
        img.-borde.animal-img(src="/img/no-disponible/serpientes/piton/pb-candino-albino.png", alt="")
        br
        br
        div.info
          p PITON BOLA
          p CANDINO, ALBINO
      div.-borde.opacidad
        p.-boton.alerta FUERA DE STOCK

    div.-borde.carta
          div
            img.-borde.animal-img(src="/img/no-disponible/serpientes/piton/pb-pied.png", alt="")
            br
            br
            div.info
              p PITON BOLA
              p PIED
          div.-borde.opacidad
            p.-boton.alerta FUERA DE STOCK

    div.-borde.carta
          div
            img.-borde.animal-img(src="/img/no-disponible/serpientes/piton/pb-quimera-paradox.png", alt="")
            br
            br
            div.info
              p PITON BOLA
              p QUIMERA, PARADOX
          div.-borde.opacidad
            p.-boton.alerta FUERA DE STOCK

    div.-borde.carta
          div
            img.-borde.animal-img(src="/img/no-disponible/serpientes/piton/pb-sprusso.png", alt="")
            br
            br
            div.info
              p PITON BOLA
              p SUPER RUSSO
          div.-borde.opacidad
            p.-boton.alerta FUERA DE STOCK

    div.-borde.carta
          div
            img.-borde.animal-img(src="/img/no-disponible/serpientes/piton/pb-bumblebee.png", alt="")
            br
            br
            div.info
              p PITON BOLA
              p BUMBLEBEE
          div.-borde.opacidad
            p.-boton.alerta FUERA DE STOCK
