extends layout
block append config

  -paginaActual = "Lagartos"
  block append
    link(rel="stylesheet", href="/styles/animales.css")

block main

  br
  br
  div.contenedor
    for lagarto in animales

      a.carta.-Rad(href="/animal-info/"+lagarto.id)
        div
          img.animal-img.-Rad(src=lagarto.path, alt=lagarto.nombre)
          br
          br
          div.info
            p=lagarto.nombre
            p=lagarto.fases
        div.opacidad.-Rad
          p.-Btn.verMas VER MAS


    //NO DISPONIBLE

    div.carta.-Rad
          div
            img.animal-img(src="/img/no-disponible/lagartos/p-red-hypo.png", alt="" loading="lazy")
            br
            br
            div.info
              p POGONA 
              p RED HYPO  
          div.opacidad.-Rad
            p.-Btn.alerta FUERA DE STOCK

    div.carta.-Rad
          div
            img.animal-img(src="/img/no-disponible/lagartos/p-zero.png", alt="" loading="lazy")
            br
            br
            div.info
              p POGONA 
              p ZERO  
          div.opacidad.-Rad
            p.-Btn.alerta FUERA DE STOCK

    div.carta.-Rad
          div
            img.animal-img(src="/img/no-disponible/lagartos/p-leather.png", alt="" loading="lazy")
            br
            br
            div.info
              p POGONA 
              p LEATHERBACK  
          div.opacidad
            p.-Btn.alerta FUERA DE STOCK

    div.carta.-Rad
          div
            img.animal-img(src="/img/no-disponible/lagartos/p-trans.png", alt="" loading="lazy")
            br
            br
            div.info
              p POGONA 
              p TRANSLUCENT  
          div.opacidad.-Rad
            p.-Btn.alerta FUERA DE STOCK

    div.carta.-Rad
          div
            img.animal-img(src="/img/no-disponible/lagartos/p-orange.png", alt="" loading="lazy")
            br
            br
            div.info
              p POGONA 
              p ORANGE LEATHERBACK  
          div.opacidad.-Rad
            p.-Btn.alerta FUERA DE STOCK


    //OTROS LAGARTOS

    div.carta.-Rad
      div
        img.animal-img(src="/img/no-disponible/lagartos/dragon-agua-chino.png", alt="" loading="lazy")
        br
        br
        div.info
          p DRAGON DE AGUA CHINO 
          p 
      div.opacidad.-Rad
        p.-Btn.alerta FUERA DE STOCK

    div.carta.-Rad
      div
        img.animal-img(src="/img/no-disponible/lagartos/clami.png", alt="" loading="lazy")
        br
        br
        div.info
          p CLAMIDOSAURIOS
          p 
      div.opacidad.-Rad
        p.-Btn.alerta FUERA DE STOCK

    div.carta.-Rad
      div
        img.animal-img(src="/img/no-disponible/lagartos/ig-roja.png", alt="" loading="lazy")
        br
        br
        div.info
          p IGUANA
          p ROJA
      div.opacidad.-Rad
        p.-Btn.alerta FUERA DE STOCK

    div.carta.-Rad
      div
        img.animal-img(src="/img/no-disponible/lagartos/ig-albina.png", alt="" loading="lazy")
        br
        br
        div.info
          p IGUANA
          p ALBINA
      div.opacidad.-Rad
        p.-Btn.alerta FUERA DE STOCK

    div.carta.-Rad
      div
        img.animal-img(src="/img/no-disponible/lagartos/ig-azul.png", alt="" loading="lazy")
        br
        br
        div.info
          p IGUANA
          p AZUL
      div.opacidad.-Rad
        p.-Btn.alerta FUERA DE STOCK

    div.carta.-Rad
      div
        img.animal-img(src="/img/no-disponible/lagartos/tegu-red.png", alt="" loading="lazy")
        br
        br
        div.info
          p TEGU
          p RED
      div.opacidad.-Rad
        p.-Btn.alerta FUERA DE STOCK

    div.carta.-Rad
      div
        img.animal-img(src="/img/no-disponible/lagartos/tegu-red.png", alt="" loading="lazy")
        br
        br
        div.info
          p TEGU
          p RED
      div.opacidad.-Rad
        p.-Btn.alerta FUERA DE STOCK

    div.carta.-Rad
      div
        img.animal-img(src="/img/no-disponible/lagartos/var-nilo.png", alt="" loading="lazy")
        br
        br
        div.info
          p VARANO
          p DEL NILO
      div.opacidad.-Rad
        p.-Btn.alerta FUERA DE STOCK

    div.carta.-Rad
      div
        img.animal-img(src="/img/no-disponible/lagartos/var-gargantablanca.png", alt="" loading="lazy")
        br
        br
        div.info
          p VARANO
          p GARGANTA BLANCA
      div.opacidad.-Rad
        p.-Btn.alerta FUERA DE STOCK

    //CAMALEONES

    div.carta.-Rad
          div
            img.animal-img(src="/img/no-disponible/lagartos/camaleones.png", alt="" loading="lazy")
            br
            br
            div.info
              p 
              p   
          div.opacidad.-Rad
            p.-Btn.alerta FUERA DE STOCK

    div.carta.-Rad
          div
            img.animal-img(src="/img/no-disponible/lagartos/camaleones.png", alt="" loading="lazy")
            br
            br
            div.info
              p CAMALEONES DE VELO 
              p JUVENILES  
          div.opacidad.-Rad
            p.-Btn.alerta FUERA DE STOCK

    div.carta.-Rad
          div
            img.animal-img(src="/img/no-disponible/lagartos/c-parson.png", alt="" loading="lazy")
            br
            br
            div.info
              p CAMALEON DE PARSON 
              p JUVENIL
          div.opacidad.-Rad
            p.-Btn.alerta FUERA DE STOCK

    div.carta.-Rad
          div
            img.animal-img(src="/img/no-disponible/lagartos/c-pantera.png", alt="" loading="lazy")
            br
            br
            div.info
              p CAMALEON PANTERA 
              p JUVENIL
          div.opacidad.-Rad
            p.-Btn.alerta FUERA DE STOCK

    div.carta.-Rad
          div
            img.animal-img(src="/img/no-disponible/lagartos/c-velo-adulto.png", alt="" loading="lazy")
            br
            br
            div.info
              p CAMALEON DE VELO 
              p ADULTO
          div.opacidad.-Rad
            p.-Btn.alerta FUERA DE STOCK

    div.carta.-Rad
          div
            img.animal-img(src="/img/no-disponible/lagartos/c-velo-pied.png", alt="" loading="lazy")
            br
            br
            div.info
              p CAMALEON DE VELO 
              p PIED
          div.opacidad.-Rad
            p.-Btn.alerta FUERA DE STOCK


    //GECKOS
    div.carta.-Rad
      div
        img.animal-img(src="/img/no-disponible/lagartos/gcko-snow.png", alt="" loading="lazy")
        br
        br
        div.info
          p GECKO LEOPARDO
          p MACK SNOW
      div.opacidad.-Rad
        p.-Btn.alerta FUERA DE STOCK

    div.carta.-Rad
      div
        img.animal-img(src="/img/no-disponible/lagartos/gcko-wy-enigma.png", alt="" loading="lazy")
        br
        br
        div.info
          p GECKO LEOPARDO
          p WHITE AND YELLOW ENIGMA
      div.opacidad.-Rad
        p.-Btn.alerta FUERA DE STOCK

      div.carta.-Rad
        div
          img.animal-img(src="/img/no-disponible/lagartos/gcko-raptor.png", alt="" loading="lazy")
          br
          br
          div.info
            p GECKO LEOPARDO
            p RAPTOR
        div.opacidad.-Rad
          p.-Btn.alerta FUERA DE STOCK

      div.carta.-Rad
        div
          img.animal-img(src="/img/no-disponible/lagartos/gcko-tremper.png", alt="" loading="lazy")
          br
          br
          div.info
            p GECKO LEOPARDO
            p TREMPER
        div.opacidad.-Rad
          p.-Btn.alerta FUERA DE STOCK