extends layout
block append config

  -paginaActual = "subir"
  block append
    link(rel="stylesheet", href="/styles/animales.css")

block main

  br
  br
  div.contenedor
    for lagarto in animales
      a.-borde.carta(href="/animal-info/"+lagarto.id)
        div
          img.animal-img(src=lagarto.path, alt=lagarto.nombre)
          br
          br
          div.info
            p=lagarto.nombre
            p=lagarto.fases
        div.-borde.opacidad
          p.-boton VER MAS


    //NO DISPONIBLE

    div.-borde.carta
          div
            img.-borde.animal-img(src="/img/no-disponible/lagartos/p-red-hypo.png", alt="")
            br
            br
            div.info
              p PITON BOLA
              p SUPER RUSSO
          div.-borde.opacidad
            p.-boton.alerta FUERA DE STOCK

    div.-borde.carta
          div
            img.-borde.animal-img(src="/img/no-disponible/lagartos/p-zero.png", alt="")
            br
            br
            div.info
              p PITON BOLA
              p SUPER RUSSO
          div.-borde.opacidad
            p.-boton.alerta FUERA DE STOCK
    
    div.-borde.carta
          div
            img.-borde.animal-img(src="/img/no-disponible/lagartos/i-azul.png", alt="")
            br
            br
            div.info
              p PITON BOLA
              p SUPER RUSSO
          div.-borde.opacidad
            p.-boton.alerta FUERA DE STOCK

    div.-borde.carta
          div
            img.-borde.animal-img(src="/img/no-disponible/lagartos/gko-lechianus.png", alt="")
            br
            br
            div.info
              p PITON BOLA
              p SUPER RUSSO
          div.-borde.opacidad
            p.-boton.alerta FUERA DE STOCK