extends layout
block append config

  -paginaActual = "Pitones"
  block append
    link(rel="stylesheet", href="/styles/animales.css")

block main

  br
  br
  div.contenedor
    for animal in animales
      a.-borde.carta(href="/animal-info/"+animal.id)
        div
          img.-borde.animal-img(src=animal.path, alt=animal.nombre)
          br
          br
          div.info
            p=animal.nombre
            p=animal.fases
        div.-borde.opacidad
          p.-boton VER MAS


    ////--NO-DISPONIBLES

    div.-borde.carta
      div
        img.-borde.animal-img(src="/img/no-disponible/serpientes/boa/bc-motley.png", alt="")
        br
        br
        div.info
          p PITON BOLA
          p BLADE, CLOWN
      div.-borde.opacidad
        p.-boton.alerta FUERA DE STOCK

    div.-borde.carta
      div
        img.-borde.animal-img(src="/img/no-disponible/serpientes/boa/bc-albino-khal.png", alt="")
        br
        br
        div.info
          p PITON BOLA
          p CANDINO, ALBINO
      div.-borde.opacidad
        p.-boton.alerta FUERA DE STOCK

    div.-borde.carta
          div
            img.-borde.animal-img(src="/img/no-disponible/serpientes/boa/bk-yellow.png", alt="")
            br
            br
            div.info
              p PITON BOLA
              p PIED
          div.-borde.opacidad
            p.-boton.alerta FUERA DE STOCK

    div.-borde.carta
          div
            img.-borde.animal-img(src="/img/no-disponible/serpientes/boa/bk-stripe.png", alt="")
            br
            br
            div.info
              p PITON BOLA
              p QUIMERA, PARADOX
          div.-borde.opacidad
            p.-boton.alerta FUERA DE STOCK

    div.-borde.carta
          div
            img.-borde.animal-img(src="/img/no-disponible/serpientes/boa/b-esmeralda.png", alt="")
            br
            br
            div.info
              p PITON BOLA
              p SUPER RUSSO
          div.-borde.opacidad
            p.-boton.alerta FUERA DE STOCK

    div.-borde.carta
          div
            img.-borde.animal-img(src="/img/no-disponible/serpientes/boa/bk-albina.png", alt="")
            br
            br
            div.info
              p PITON BOLA
              p SUPER RUSSO
          div.-borde.opacidad
            p.-boton.alerta FUERA DE STOCK