extends layout
block append config

  -paginaActual = "Inicio"
  block append
    link(rel="stylesheet", href="/styles/index.css")

block main

  br
  //CONTENEDOR-LOGO
  div.logo_contenedor.-Menu-margen.-Padd3.-Flex
    
    img.logo_img(src="/img/logo.png", alt="unico reptiles")
    div.logo_titulo
      h1.-F-size3 ÚNICO REPTILES
      h2 se diferente, sé original ...

      br
      br
      //FACEBOOK-SDK
      <div id="fb-root"></div>
        div.facebook
          <script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v7.0" nonce="wrih9SA4"></script>
          <div class="fb-page" data-href="https://www.facebook.com/&#xda;nico-Sangre-Fr&#xed;a-2247381735278065/" data-tabs="timeline" data-width="" data-height="100" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/&#xda;nico-Sangre-Fr&#xed;a-2247381735278065/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/&#xda;nico-Sangre-Fr&#xed;a-2247381735278065/">Único Sangre Fría</a></blockquote></div>


  //YOUTUBE----YOUTUBE----YOUTUBE----YOTUTUBE
  div.-Sub MIRA NUESTRO CONTENIDO ORIGINAL DE YOUTUBE
  div.youtube-contenedor.-Padd3
    br
    p Suscribete a nuestro canal, activa la campanita de notificaciones
      | y no te pierdas de nuestros videos y promociones que tenemmos para ti!
    br
    <iframe width="560" height="315" src="https://www.youtube.com/embed/EcqIx2BQ_yA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    //CRUPO-UNICO
  div.-Sub GRUPO UNICO
  div.unico-xaman
    a(href="")
      img(src="/icon/whatsapp.png", alt="")

    h3 Unete a nuestro grupo de whatsapp!!
    
    p Unete dando click en el icono de arriba y aprovecha antes 
     | que nadie lasofertas y bichos que tenemos por tiempo limitado 
     | en la comunidad de UNICO REPTILES

  //NOSOTROS
  a(name="nosotros")
  div.-Sub NOSOTROS
  div.nosotros
    div.nosotros-contenedor
      p ÚNICO REPTILES es una comercializadora y PIMVS avalada anteSEMARNAT, 
       | nuestra especialidad´se basa en la crianza de pogonas o dragón 
       | barbudo, también conocido de ésta forma.
      br
      p Nosotros contamos con una extensa variedad de ejemplares 
       | exóticostanto de reptiles como otros ejemplares. Contamos con 
       | un estándar de calidad riguroso para nuestros especímenes y 
       | obviamente, para traerte lo mejor que ofrece el mercado. Ademas 
       | de esto, utilizamos siempre la mejor alimentacion y ofrecemos el 
       | mejor servicio y asesoría para tu mayor satisfación.
      br
      p Tras nuestro proyecto como ÚNICO REPTILES, hay detrás más de 5 
       | años que nos respaldan, los cuales hay práctica, sabiduria, 
       | experiencia el mejor servicio al cliente y el mejor 
       | posicionamiento en el mercado actual, siendo nosotros tu mejor 
       | opción, a nivel nacional e internacional.
      br
      p Nosotros contamos con productos tanto nacionales como exportaciones 
       | internacionales principalmente de U.S.A y Europa. Contamos con 
       | génitca y linajes de criaderos extranjeros de prestigio. Contamos 
       | con envíos a toda parte de la republica y países aledaños, siempre 
       | con un buen control y manejo de envios aéreo.
      p De nuestra parte te garantizamos el mejor trato y servicio tanto para 
       | ti como para tu reptil, asi como asesoramiento depor vida y los 
       | mejores precios.
      br


  block footer

