extends layout
block append config

  -paginaActual = "Inicio"
  block append
    link(rel="stylesheet", href="/styles/index.css")

block main

  br
  section.inicio_bann.-Menu-margen.-Grid.-Padd3.-Center
  
    div
      img.logo-img(src="/img/logo/mixkaan.png", alt="" loading="lazy")
    div
      img.logo-txt(src="/img/logo/mixkaan-letr-b.png", alt="" loading="lazy")



  //SECCION-CONTACTOS----SECCION-CONTACTOS----SECCION-CONTACTOS----
  section.contacto.-Col-f2.-Padd.-Grid

    a(href="").red.-Col-f8.-Padd.-Borde.-Shadow.-Delay
      h3 FACEBOOK
      h4 Mixkaan exótics
      span: img(src="/icon/facebook.png", alt="" loading="lazy")

    a(href="").red.-Col-f8.-Padd.-Borde.-Shadow.-Delay
      h3 INSTAGRAM
      h4 Mixkaan exótics
      span: img(src="/icon/instagram.png", alt="" loading="lazy")

    a(href="").red.-Col-f8.-Padd.-Borde.-Shadow.-Delay
      h3 WHATSAPP
      h4 +52 133 289 911 83
      span: img(src="/icon/whatsapp.png", alt="" loading="lazy")


  //----CATEGORIAS----//
  div.-Sub 
  section.categorias.-Flex.-Padd2.-Col-grad-f45

    div.categoria.-Center
      a(href=""): img.-B-Circulo.-Padd.-Shadow(src="/icon/facebook.png", alt="" loading="lazy")
      br
      br
      hr
      h3 DISPONIBLE

    div.categoria.-Center
      a(href=""): img.-B-Circulo.-Padd.-Shadow(src="/icon/facebook.png", alt="" loading="lazy")
      br
      br
      hr
      h3 COLECCION

    div.categoria.-Center
      a(href=""): img.-B-Circulo.-Padd.-Shadow(src="/icon/facebook.png", alt="" loading="lazy")
      br
      br
      hr
      h3 ACCSESORIOS

    div.categoria.-Center
      a(href=""): img.-B-Circulo.-Padd.-Shadow(src="/icon/facebook.png", alt="" loading="lazy")
      br
      br
      hr
      h3 NUESTRO BLOG



  //----BLOG-DESTACADOS----//
  div.-Sub LO MAS DESTACADO
  section.blog.-Grid.-Padd3.-Col-f3

    div.cont_1.-Borde.-Padd.-Center.-Shadow.-Col-f8
      h2 LAS IGUANAS ¿EN PELIGRO DE EXTINSIÓN?
      br
      br
      img.cont_img_1(src="/img/blog/iguana.jpg", alt="").-Img-borde.-Borde.-Shadow
      br
      p.-Justify Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque autem 
        |architecto rerum ipsa veritatis minima id harum vel eveniet sunt 
        |ipsam, ut consectetur quia natus, amet accusantium aperiam voluptates 
        |libero!Possimus mollitia eveniet similique placeat quos sint unde 
        |veniam aliquid deserunt recusandae repudiandae voluptas quia corporis 
        |ab dolore eligendi animi doloremque reiciendis, saepe perspiciatis? 
        |Corrupti dolores rem odio voluptate aperiam?
      br
      a.-Btn1(href="") ver mas

    div.cont_2.-Borde.-Padd.-Center.-Shadow.-Col-f8
      h2 DRAGON BARBUDO... TODO LO QUE NECESITAS SABER
      br
      img.cont_img_2(src="/img/fichas-de-cuidado/pogona.jpg", alt="").-Img-borde.-Borde.-Shadow
      br
      p.-Justify Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque autem 
        |architecto rerum ipsa veritatis minima id harum vel eveniet sunt 
      br
      a.-Btn1(href="") ver mas



  //----XQ-NOSOTROS----//
  div.-Sub ¿PORQUE NOSOTROS?
  section.-Padd.-Col-f2

    div.-Col-f8.-Borde.-Padd2.-Shadow
      h2.-F-size2.-Center ¡PORQUE SI!
      br
      br
      div.intro.-grid
        img.xq_img(src="/img/blog/iguana.jpg", alt="").-Img-borde.-Borde.-M-auto.-Shadow
        idv.cont-intro-txt.-Justify
          p Mixkaan exotics es la mejor opcion para adquiris tus bichos.
            |Nuestro amor y pasion por la vida silvestre te garantiza el mejor 
            |de los servicios.
          br
          p Cada animal adquirido por nosotros pasan por una cuarentena para 
            |garantizar su buen estado de salud, ademas de una buena alimentacion. 
            |De esta manera cada bicho disponible asegura una buena epexiencias para 
            |todos nuestros clientes.
          br
          p Asi que cada que compras un bichos con nosotros, adquieres calidad 
            |y amor mixkaan &#x1F40D; &#x1F499;







  //div.popup(onClick="popUp()") click
    span.popuptexto#Popup oliwis
  //Con este trozo de codigo puedo invocar un pop-up
  //
  //
  //Y con este llamar a la funcion de codigo JS


  //SCRIPTS----SCRIPTS----SCRIPTS----
  script(src="/javascript/pop-up.js")