extends layout
block append config

  -paginaActual = "Inicio"
  block append
    link(rel="stylesheet", href="/styles/index.css")

block main

  br
  section.inicio-bann.-Menu-margen.-Grid
    div
      img.logo-imagen(src="/img/logo/mixkaan.png", alt="")
    div
      img.logo-letra(src="/img/logo/mixkaan-letr-b.png", alt="")



  section.contacto.-Col-f2.-Padd.-Grid

    div.red.face.-Col-f8.-Padd.-Borde.-Shadow
        h3 FACEBOOK
        h4 Mixkaan exótics
        a(href=""): span: img(src="/icon/facebook.png", alt="")

    div.red.insta.-Col-f8.-Padd.-Borde.-Shadow
      h3 INSTAGRAM
      h4 Mixkaan exótics
      a(href=""): span: img(src="/icon/instagram.png", alt="")

    div.red.whats.-Col-f8.-Padd.-Borde.-Shadow
      h3 WHATSAPP
      h4 +52 133 289 911 83
      a(href=""): span: img(src="/icon/whatsapp.png", alt="")


  //----CATEGORIAS----//
  div.-Sub 
  section.categorias.-Flex.-Padd2

    div.categoria.-Center
      a(href=""): img.-Padd.-Shadow(src="/icon/facebook.png", alt="")
      br
      br
      hr
      h3 DISPONIBLE

    div.categoria.-Center
      a(href=""): img.-Padd.-Shadow(src="/icon/facebook.png", alt="")
      br
      br
      hr
      h3 COLECCION

    div.categoria.-Center
      a(href=""): img.-Padd.-Shadow(src="/icon/facebook.png", alt="")
      br
      br
      hr
      h3 ACCSESORIOS

    div.categoria.-Center
      a(href=""): img.-Padd.-Shadow(src="/icon/facebook.png", alt="")
      br
      br
      hr
      h3 NUESTRO BLOG



  //----BLOG-DESTACADOS----//
  div.-Sub LO MAS DESTACADO
  section.blog-dest.-Grid.-Padd3.-Col-f3

    div.blog.-Borde.-Padd.-Center.-Shadow
      h2 LAS IGUANAS ¿EN PELIGRO DE EXTINSIÓN?
      br
      br
      div.-Img-borde.-Img-w80.-M-auto.-Borde
        div.blog-img.-Borde
      p.-Padd2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque autem 
        |architecto rerum ipsa veritatis minima id harum vel eveniet sunt 
        |ipsam, ut consectetur quia natus, amet accusantium aperiam voluptates 
        |libero!Possimus mollitia eveniet similique placeat quos sint unde 
        |veniam aliquid deserunt recusandae repudiandae voluptas quia corporis 
        |ab dolore eligendi animi doloremque reiciendis, saepe perspiciatis? 
        |Corrupti dolores rem odio voluptate aperiam?

      a.-Btn-ver-mas(href="") ver mas

    div.cuidado.-Borde.-Padd.-Center.-Shadow
      h2 DRAGON BARBUDO... TODO LO QUE NECESITAS SABER
      br
      div.-Img-borde.-Img-w80.-M-auto.-Borde
        div.cuidado-img.-Borde
      p.-Padd2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque autem 
        |architecto rerum ipsa veritatis minima id harum vel eveniet sunt 
        |ipsam, ut consectetur quia natus, amet accusantium aperiam voluptates 
        |libero!Possimus mollitia Possimus mollitia Possimus mollitia

      a.-Btn-ver-mas(href="") ver mas



  //----XQ-NOSOTROS----//
  div.-Sub ¿PORQUE NOSOTROS?
  section.-Padd.-Col-f2

    div.-Col-f8.-Borde.-Padd2.-Shadow
      h2.-F-size2.-Center ¡PORQUE SI!
      br
      br
      div.intro.-Grid
        img.intro-img1.-Borde(src="/img/blog/iguana.jpg", alt="")
        div.intro-txt.-Justify.-M-auto
          p Mixkaan exotics es la mejor opcion para adquiris tus bichos.
            |Nuestro amor y pasion por la vida silvestre te garantiza el mejor 
            |de los servicios.
          br
          p Cada animal adquirido por nosotros pasan por una cuarentena para 
            |garantizar su buen estado de salud, ademas de una buena alimentacion. 
            |De esta manera cada bicho disponible asegura una buena epexiencias para 
            |todos nuestros clientes.
          br
          p Asi que cada que compras un bichos con nosotros, adquieres calidad 
            |y amor mixkaan &#x1F40D; &#x1F499;









  //div.popup(onClick="popUp()") click
    span.popuptexto#Popup oliwis
  //Con este trozo de codigo puedo invocar un pop-up
  //
  //
  //Y con este llamar a la funcion de codigo JS


  //SCRIPTS----SCRIPTS----SCRIPTS----
  script(src="/javascript/pop-up.js")