block config
doctype
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")

    link(rel="shortcut icon", href="/icon/logo-icon.ico", type="image/x-icon")

    title unico reptiles | #{paginaActual}

    link(rel="stylesheet", href="/styles/default.css")
  
    block append
  body
    include ./components/menu

    block main

      
    include ./components/footer

