extends layout
block append config

  -paginaActual = "Media"
  block append
    link(rel="stylesheet", href="/styles/media.css")

block main

  br
  section.media_inicio.-Menu-margen.-Grid
    div
      p kjsndfdsm



  //div.popup(onClick="popUp()") click
    span.popuptexto#Popup oliwis
  //Con este trozo de codigo puedo invocar un pop-up
  //
  //
  //Y con este llamar a la funcion de codigo JS


  //SCRIPTS----SCRIPTS----SCRIPTS----
  script(src="/javascript/pop-up.js")