extends layout
block append config

  -paginaActual = "subir"
  block append
    link(rel="stylesheet", href="/styles/subir.css")

block main

  div.admin-nav
    div
      a.-boton.regresar(href="/admin") REGRESAR AL PANEL
    div
      a.-boton.inicio(href="/") REGRESAR AL INICIO

  br
  div.contenedor
    h2 SUBIR ANIMAL
    br
    form(action="/subir_animal" method="POST" enctype="multipart/form-data")
      div.input
        label(for="nombre") ANIMAL
        input(type="text" name="nombre" placeholder="ANIMAL")
      div.input
        label(for="nombre") DESCRIPCION
        textarea(name="descripcion" placeholder="ESCRIBE UNA BREVE DESCRIPCION")
      div.input
        label(for="nombre") MORFOLOGÍA
        input(type="text" name="fases" placeholder="FASE(S)")
      div.input
        label(for="precio") PRECIO
        input(type="number" name="precio" placeholder="CANTIDAD(MXN)")
      
      div.select
        div
          label(for="sexo") SEXO
          select(name="sexo")
            option(value="macho") Macho
            option(value="hembra") Hembra
            option(value="sin sexar") Sin sexar

          label(for="edad") EDAD
          select(name="edad")
            option(value="cria") Cria
            option(value="juvenil") Juvenil
            option(value="adulto") Adulto

        div
          label(for="seccion") SECCIÓN
          select(name="seccion")
            option(value="lagartos") Lagartos
            option(value="serpientes") Serpientes
            option(value="tortugas") Tortugas
          
            option(value="") LAGARTOS
            option(value="pogonas") pogonas
            option(value="geckos") geckos
            option(value="camaleones") camaleones
            option(value="varanos") varanos

            option(value="") SERPIENTES
            option(value="pitones") pitones
            option(value="boas") boas
            option(value="colubridos") colubridos
            option(value="") TORTUGAS
      br
      div.archivo
        label(for="imagen") SUBIR UNA IMAGEN
        input(type="file" name="imagen" aria-label="File browser example")
      br
      button.-boton(type='submit') AÑADIR