extends ../layout
block append config

  -paginaActual = "Disponible"
  block append
    link(rel="stylesheet", href="/styles/disponible/disponible.css")

block main
  br
  section.secciones.-Menu-margen.-Flex.-Padd2.-Rad2
    a(href="/disponible/lagartos").secciones__animal.-Borde
      img(src="/img/disponible/lagartos.svg", alt="").animal__logo
    a(href="").secciones__animal.-Borde
      img(src="/img/disponible/serpientes.svg", alt="").animal__logo
    a(href="").secciones__animal.-Borde
      img(src="/img/disponible/tortugas.svg", alt="").animal__logo