extends ../layout
block append config

  -paginaActual = "Cucarachas"
  block append
    link(rel="stylesheet", href="/styles/productos/insectos.css")

block main
  br
  div.-Sub.-Menu-margen CUCARACHAS
  section.insectos.-Padd
    a(href="").insectos__clase 
      img(src="/img/productos/.png", alt="")