footer.footer
    div.content-footer
        h5 ÚNICO REPTILES
        h6 Se diferente, se original, se . . . ÚNICO REPTILES
        br
        br
        img.logo-footer(src="/img/logo.png", alt="unico reptiles") 