footer.footer.-Col-f3.-Padd.-Txt-col-b
    div.content-footer
        img.letra-footer(src="/img/logo/mixkaan-letr-b.png", alt="")
        br
        br
        img.logo-footer(src="/img/logo/mixkaan.png", alt="unico reptiles") 