nav
  img.logo-nav(src="/img/menu-logo.png", alt="unico reptiles")

  ul.navbar-links
    li: a(href='/') INICIO
    li: a(href='#nosotros') NOSOTROS
    li: a(href='/disponible') DISPONIBLE
    li: a(href='/preventas') PREVENTAS
    li: a(href='/contactanos') CONTACTANOS

  a.burger
    div.linea1
    div.linea2
    div.linea3

script(src='/javascript/navbar.js')
